.mode--listing-container {

    .mode--row-1 {
        .hasteform_mathbuch_objectives_docx_export {
            & form {
                & label, & select {
                    display: block;
                }

                & label {
                    font-weight: bold;
                }

                & select {
                    margin-top: .25rem;
                    padding: 4px;
                    min-width: 100px;
                }

                & .submit {
                    padding: 4px;
                    min-width: 100px;
                }
            }

            & .widget {
                margin: 2rem 0;
            }
        }
    }

    .mode--row-2 {
        margin-top: 3rem;

        .mathbuch {
            max-width: 400px;
        }

    }


}

