{% extends "@Contao/be_main" %}

{% block main_content %}
    {% if messages|default %}
        <div class="tl_message">{{ messages|raw }}</div>
    {% endif %}

    <div class="tl_listing_container mode--listing-container">

        <div class="mode--row-1">{{ form|raw }}</div>
        <div class="mode--row-2">
            <img class="mathbuch" src="../bundles/markocupicmathbuchlearningobjectives/images/mathbuch.png" alt="mathbuch">
        </div>
    </div>
{% endblock %}
