services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $altchaHmacKey: '%kernel.secret%'
            $altchaAlgorithm: '%markocupic_contao_altcha_antispam.algorithm%'
            $altchaRangeMin: '%markocupic_contao_altcha_antispam.range_min%'
            $altchaRangeMax: '%markocupic_contao_altcha_antispam.range_max%'
            $altchaChallengeExpiry: '%markocupic_contao_altcha_antispam.challenge_expiry%'

    Markocupic\ContaoAltchaAntispam\:
        resource: ../src/
        exclude: ../src/{DependencyInjection,Config,Widget}

    Markocupic\ContaoAltchaAntispam\Controller\AltchaController:
        public: true

    Markocupic\ContaoAltchaAntispam\Altcha\AltchaValidator:
        public: true
        arguments:
            - '@Markocupic\ContaoAltchaAntispam\Altcha\Altcha'
            - '@database_connection'

    Markocupic\ContaoAltchaAntispam\Storage\MpFormsManager:
        public: true

